.uses-shared {
	background-color: red;
	color: #FFFFFF;
}

.parameterized {
	background-color: green;
	color: #000000;
}

.parameterized-other {
	background-color: red;
	color: #FFFFFF;
}

.foo {
	color: green;
}

.foo .bar {
	color: red;
}

html, body {
	margin: 0px;
	padding: 0px;
}

html > h1:first-child, body > h1:first-child {
	padding-top: 0.75em;
}

a {
	color: green;
}

a:hover {
	color: black;
}

a *:first-child {
	font-size: 110%;
}

a.foo {
	color: red;
}

a .foo \& {
	color: green;
}

@media screen {
	a {
		width: 100%;
	}

	body {
		width: 50%;
	}
}

html {
	@media screen {
			width: 40%;
		}
}